{% extends "principal.html" %}

{% block content %}
<h2>About us</h2>
<p>Disclaimer: this is not a real organization, it is part of the Mystic Messenger game.</p>

<p>We're happy to see you are interested in our organization.
   We are moved by diverse motives to act like we do; people with serious
   problems come to us so we can lend a hand in the most difficult moments,
   and then, they decide to stay with us by their very own feet.</p>

<p>Mint Eye has several ranks within the organization. As the leader and founder
   of the group, Rika is known as the Savior. The followers are divided into
   Believers and Disciples, where Disciples are higher-ranked and carry out
   important tasks. For example, Saeran, the most devoted Disciple, under the
   direct orders from our Savior; the Believers have an ID number and they are
   called with that ID. Names are not that important in this place, they are only
   a target used by the higher-ranked like the Savior or some Disciples.</p>

<p>In the picture below we can see Saeran talking with Believer A306.</p>
<img class="imagen" src="../static/images/believer-saeran.jpg" alt="Believer" width="500" height="490">
{% endblock %}
