<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Imagen mandelbrot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    </head>
    <body>
        <div><form action="/imagenmandelbrot" method="GET">
            <label>Coordenada x1 <input type="input" name="x1"/></label>
            <label>Coordenada y1 <input type="input" name="y1"/></label>
            <label>Coordenada x2 <input type="input" name="x2"/></label>
            <label>Coordenada y2 <input type="input" name="y2"/></label>
            <input type="submit" value="Calcular mandelbrot"/>
        </form></div>
    </body>
</html>
