<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mint Eye</title>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="../static/stlsheet.css">
    </head>
    <body>
        <header>
            <img src="../static/images/Minteye.svg" alt="Logo" width="400" height="200">
            <div>
                <h1>Welcome to Mint Eye</h1>
                <h3>For eternal paradise</h3>
            </div>
            <div class="formulario">
                {% if login %}
                    <h3>Welcome, {{ login }}</h3>
                    <form action="logout" method="get">
                        <input type="submit" value="Logout">
                    </form>
                {% elif error_login %}
                    <h3>The user doesn't exist. {{error_login}}</h3>
                    <form action="principal" method="post">
                        <label>Your user <input type="text" name="user"></label>
                        <label>Password <input type="password" name="pss"></label>
                        <input type="submit" value="Login">
                    </form>
                {% else %}
                    <form action="principal" method="post">
                        <label>Your user <input type="text" name="user"></label>
                        <label>Password <input type="password" name="pss"></label>
                        <input type="submit" value="Login">
                    </form>
                    <form action="registro" method="post">
                        <input type="submit" value="Sign up here">
                    </form>
                {% endif %}
            </div>
        </header>
        <div id="cuerpo">
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <aside>
                <h4>Most recent pages</h4>
                    <ul>
                       {% for url in rank %}
                       <li><a href={{url}}>{{url[1:].upper()}}</a></li>
                       {% endfor %}
                    </ul>
            </aside>
        </div>
        <footer>
            <p>By Nazaret Román Guerrero</p>
            <p><a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License v3.0</a></p>
        </footer>
    </body>
</html>
