{% extends "principal.html" %}

{% block content %}
<h2>Against R.F.A</h2>
<img class="imagen" src="../static/images/rfa.png" alt="RFA logo">

<p>The R.F.A. was a charity fundraising organization who was created by our Savior.
   The name is Rika's Fundraising Association. But things went wrong; the members
   just suffocated the Savior, so she parted away ant creared the Paradise we
   know these days.</p>

<p>The second in the hierarchy of the R.F.A were Jihyun Kim, the Savior's fiancée.
   He obligated our Savior to hide her darkness so she left the association and
   created a new one, Mint Eye, also called Magenta.</p>

<p>The R.F.A members nowadays are:</p>
<ul>
    <li>Jihyun Kim (aka V)</li>
    <li>Jumin Han</li>
    <li>Luciel Choi (aka 707)</li>
    <li>Yoosung Kim</li>
    <li>Hyun Ryu (aka ZEN)</li>
    <li>Jaehee Kang</li>
    <li>MC</li>
</ul>
{% endblock %}
