{% extends "principal.html" %}

{% block content %}
<h2>Our goal: the mission Mint Eye</h2>
<p>The only thing we're aiming for is to let the world discover the real paradise
   through our organzation. But for us doing so we have to destroy the R.F.A first,
   specially the current leader, V.</p>

<p>We are gaining new members day after day, so we'll get through our plan as
   expected, although it will take some time. For now, a short term goal is to
   become known enough to have at least one thousand members. It is important for
   us to have believers who firmly believe in our cause. Mint Eye was established
   by Rika out of her radical ideas to eliminate fear and pain from the world,
   and the goal of the organization is to reach a state of happiness in an
   everlasting party.</p>
{% endblock %}
