{% extends "principal.html" %}

{% block content %}
<form action="mongo" class="form_pkm" method="post">
    <label>Number <input type="text" name="no_up_pk" value="{{ pokemon['num'] }}"></label>
    <label>Name <input type="text" name="name_up_pk" value="{{ pokemon['name'] }}"></label>
    <label>Image url <input type="url" name="img_up_pk" value="{{ pokemon['img'] }}"></label>
    <label>Type <input type="text" name="type_up_pk" value="{{ pokemon['type'] }}"></label>
    <label>Weaknesses <input type="text" name="wkns_up_pk" value="{{ pokemon['weaknesses'] }}"></label>
    <input type="hidden" name="updating" value="{{ pokemon['name'] }}">
    <input type="submit" value="Update">
</form>
{% endblock %}
