{% extends "principal.html" %}

{% block content %}
<h2>Paginación con AJAX</h2>
<table>
    <tr>
        <th>Group name</th>
        <th>Group albumes</th>
        <th>Group components</th>
    </tr>
    {% for grupo in listado %}
    <tr>
        <td>{{ grupo.nombre }}</td>
        <td>{{ grupo.estilo }}</td>
        <td><a href="{% url 'artistas_list' %}">Miembros de {{ grupo.nombre }}</a></td>
    </tr>
    {% endfor %}
</table>
{% if listado.has_previous %}
<a id="prev" href="?page={{ listado.previous_page_number }}">Anterior</a>
{% endif %}
<span class="current">
    Page {{ listado.number }} of {{ listado.paginator.num_pages }}.
</span>
{% if listado.has_next %}
<a id="next" href="?page={{ listado.next_page_number }}">Siguiente</a>
{% endif %}
{% endblock %}
